<div class="element" >
    <div class="cross-tl">+</div>
    <div class="cross-tr">+</div>
    <div class="cross-bl">+</div>
    <div class="cross-br">+</div>
    <a ng-click="onCompClick(item)">
    <img src="/assets/img/interface_thumb2.png">
    <!--<div class="number">{{$index}}</div>-->
    <!--<div class="symbol">{{item.symbol}}</div>-->
    <div class="details">{{item.name}}</div>
    <!--<div class="details">{{item.idx}}</div>-->
    </a>
</div>
