<!DOCTYPE html>
<html id="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/screen.css"/>
    <title>Dewmap</title>
</head>
<body>
<div ng-controller="AppCtrl" id="main-content">
    <div class="logo-wrap">
        <div class="logo-center">
            <img src="/assets/img/logo-100.png"/>
        </div>
    </div>
    <div id="content-wrap" ng-click="destroy()">
        <ng-view class="experiment-wrap"></ng-view>
        <img src="/assets/img/interface.png" id="interface-img"/>






        <div class="controls-wrap" ng-show="appModel.currentItem">
            <!--<p class="comp-title">{{appModel.currentItem.name}}</p>-->

            <div class="info-wrap">
                <div class="controls-info">
                    <a ng-click="onInfo()">
                        <img src="/assets/img/info.png"/>
                    </a>
                </div>
            </div>


            <a ng-click="onPrevious()">
                <img src="/assets/img/left-arrow.png" class="controls-left"/>
            </a>
            <a ng-click="onNext()">
                <img src="/assets/img/right-arrow.png" class="controls-right"/>
            </a>
            <div class="controls-center">
                <a ng-click="onBack()">
                    <img src="/assets/img/down-arrow.png"/>
                </a>
            </div>
        </div>

        <div class="layout-controls-wrap" ng-show="!appModel.currentItem">
            <a ng-click="onDisk()">
                <img src="/assets/img/disk.png" class="controls-left"/>
            </a>
            <a ng-click="onGrid()">
                <img src="/assets/img/grid.png" class="controls-right"/>
            </a>
            <div class="controls-center">
                <a ng-click="onSphere()">
                    <img src="/assets/img/sphere.png"/>
                </a>
            </div>
        </div>


    </div>

</div>
<script src="/libs/jquery-1.8.2.min.js"></script>
<script src="/libs/three/three.js"></script>
<script src="/libs/three/tween.js"></script>
<script src="/libs/three/TrackballControls.js"></script>
<script src="/libs/three/CSS3DRenderer.js"></script>
<script src="/libs/bootstrap/js/bootstrap.js"></script>
<script src="/libs/angular-1.0.2/angular.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>

<!--Experiment 1-->
<link rel="stylesheet" href="/experiment/1/stylesheets/screen.css"/>
<script src="/experiment/1/js/app.js"></script>
<script src="/experiment/1/js/services.js"></script>
<script src="/experiment/1/js/controllers.js"></script>
<script src="/experiment/1/js/filters.js"></script>
<script src="/experiment/1/js/directives.js"></script>


<script>
    angular.element(document).ready(function() {
        angular.bootstrap('#myApp', ['myApp']);
    });
</script>
</body>
</html>