/* line 4, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base.scss */
body, html {
  background: #000;
  height: 100%;
}

/* line 16, ../sass/base.scss */
a:hover {
  text-decoration: none;
}

/* line 20, ../sass/base.scss */
#main-content {
  margin: 20px auto 20px auto;
  width: auto !important;
  max-width: 960px;
  max-height: 700px;
  height: 100%;
}

/* line 29, ../sass/base.scss */
#content-wrap {
  position: absolute;
  width: 100%;
  height: auto;
}

/* line 36, ../sass/base.scss */
#scene-wrap {
  padding: 0;
  max-width: 960px;
  max-height: 700px;
}

/* line 44, ../sass/base.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/base.scss */
.experiment-wrap {
  position: absolute;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 68, ../sass/base.scss */
  #main-content {
    margin: 0 auto;
  }

  /* line 72, ../sass/base.scss */
  .logo-wrap {
    display: none;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 83, ../sass/base.scss */
  #main-content {
    margin: 150px auto;
  }
}
