/* line 4, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base.scss */
body, html {
  background: #000;
  height: 100%;
}

/* line 16, ../sass/base.scss */
a:hover {
  text-decoration: none;
}

/* line 20, ../sass/base.scss */
#main-content {
  margin: 20px auto 20px auto;
  width: auto !important;
  max-width: 960px;
  max-height: 700px;
  height: 100%;
}

/* line 29, ../sass/base.scss */
#content-wrap {
  position: absolute;
  width: 100%;
  height: auto;
}

/* line 36, ../sass/base.scss */
#scene-wrap {
  padding: 0;
  max-width: 960px;
  max-height: 700px;
}

/* line 44, ../sass/base.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/base.scss */
.experiment-wrap {
  position: absolute;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 68, ../sass/base.scss */
  #main-content {
    margin: 0 auto;
  }

  /* line 72, ../sass/base.scss */
  .logo-wrap {
    display: none;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 83, ../sass/base.scss */
  #main-content {
    margin: 150px auto;
  }
}
/* line 4, ../sass/screen.scss */
#interface-img {
  top: 5px;
  left: 5px;
  pointer-events: none;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 18, ../sass/screen.scss */
#scene-3d {
  position: absolute;
  overflow: hidden;
}

/* line 23, ../sass/screen.scss */
#camera-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/* line 29, ../sass/screen.scss */
#item-wrap-3d {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/* line 36, ../sass/screen.scss */
.item3d {
  position: absolute;
  width: 160px;
  height: 160px;
  -webkit-transition: opacity .3s ease-in-out .3s;
}

/* line 51, ../sass/screen.scss */
.hideAnim {
  opacity: 0;
}

/* line 59, ../sass/screen.scss */
.element {
  -webkit-transform: scale3d(1, -1, 1);
  -moz-transform: scale3d(1, -1, 1);
  position: absolute;
  width: 160px;
  height: 160px;
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
}
/* line 85, ../sass/screen.scss */
.element .cross-tl {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 91, ../sass/screen.scss */
.element .cross-tr {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 96, ../sass/screen.scss */
.element .cross-bl {
  position: absolute;
  bottom: 45px;
  left: 0;
}
/* line 101, ../sass/screen.scss */
.element .cross-br {
  position: absolute;
  bottom: 45px;
  right: 0;
}

/* line 118, ../sass/screen.scss */
.element:hover .cross-tl {
  color: red;
}
/* line 122, ../sass/screen.scss */
.element:hover .cross-tr {
  color: red;
}
/* line 125, ../sass/screen.scss */
.element:hover .cross-bl {
  color: red;
}
/* line 128, ../sass/screen.scss */
.element:hover .cross-br {
  color: red;
}
/* line 138, ../sass/screen.scss */
.element:hover .details {
  color: white;
  text-shadow: 0px 1px 0px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.2);
}

/* line 146, ../sass/screen.scss */
.element .details {
  margin-top: 10px;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

/* line 159, ../sass/screen.scss */
.controls-wrap {
  max-width: 960px;
  padding-left: 100px;
  padding-right: 100px;
}

/* line 166, ../sass/screen.scss */
.arrow-center {
  width: 6px;
  margin: auto;
}

/* line 171, ../sass/screen.scss */
.right-arrow {
  float: right;
}

/* line 176, ../sass/screen.scss */
.left-arrow {
  float: left;
}

/* line 181, ../sass/screen.scss */
.comp-title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}

/* line 187, ../sass/screen.scss */
.logo-wrap {
  max-width: 960px;
}

/* line 191, ../sass/screen.scss */
.logo-center {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

/* line 198, ../sass/screen.scss */
.layout-wrap {
  max-width: 960px;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 210px;
}
/* line 205, ../sass/screen.scss */
.layout-wrap img {
  opacity: .5;
}
/* line 208, ../sass/screen.scss */
.layout-wrap img:hover {
  opacity: 1;
}

/* line 215, ../sass/screen.scss */
.sphere-btn {
  width: 30px;
  margin: auto;
}

/* line 222, ../sass/screen.scss */
.h-line {
  border: solid rgba(255, 0, 0, 0.5) 1px;
  position: absolute;
  width: 100%;
  top: 50%;
}

/* line 229, ../sass/screen.scss */
.v-line {
  border: solid rgba(255, 0, 0, 0.5) 1px;
  position: absolute;
  height: 100%;
  right: 50%;
  top: 0;
}
