/* line 4, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base.scss */
body, html {
  background: #000;
  height: 100%;
}

/* line 16, ../sass/base.scss */
a:hover {
  text-decoration: none;
}

/* line 20, ../sass/base.scss */
#main-content {
  margin: 20px auto 20px auto;
  width: auto !important;
  max-width: 960px;
  max-height: 700px;
  height: 100%;
}

/* line 29, ../sass/base.scss */
#content-wrap {
  position: absolute;
  width: 100%;
  max-width: 950px;
  height: auto;
}
/* line 35, ../sass/base.scss */
#content-wrap #preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -70px;
  background-color: rgba(255, 0, 0, 0.16);
  border-color: rgba(255, 0, 0, 0.09);
}
/* line 46, ../sass/base.scss */
#content-wrap #preloader .progress {
  height: 10px;
  margin: 0;
}
/* line 53, ../sass/base.scss */
#content-wrap #preloader .progress-striped .bar {
  background-color: #792312;
}

/* line 61, ../sass/base.scss */
#scene-wrap {
  padding: 0;
  max-width: 960px;
  max-height: 700px;
}

/* line 69, ../sass/base.scss */
#oldie {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -25% !important;
}

/* line 76, ../sass/base.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 82, ../sass/base.scss */
#view-loader {
  position: absolute;
}

/* line 86, ../sass/base.scss */
#experiment-wrap {
  width: 100%;
  height: 100%;
}

/* line 91, ../sass/base.scss */
.tileDisabled {
  pointer-events: none;
  opacity: .5;
}

/* line 96, ../sass/base.scss */
.progress {
  width: 100px;
}
/* line 98, ../sass/base.scss */
.progress .bar {
  width: 100px;
}

/* line 105, ../sass/base.scss */
.tileEnabled {
  pointer-events: auto;
  opacity: 1;
}

/* line 110, ../sass/base.scss */
.h-line {
  border: solid rgba(255, 0, 0, 0.5) 1px;
  position: absolute;
  width: 100%;
  top: 50%;
}

/* line 117, ../sass/base.scss */
.v-line {
  border: solid rgba(255, 0, 0, 0.5) 1px;
  position: absolute;
  height: 100%;
  right: 50%;
  top: 0;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 139, ../sass/base.scss */
  #main-content {
    margin: 0 auto;
  }

  /* line 143, ../sass/base.scss */
  .logo-wrap {
    display: none;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 154, ../sass/base.scss */
  #main-content {
    margin: 150px auto;
  }
}
/* line 4, ../sass/screen.scss */
#interface-img {
  top: 5px;
  left: 5px;
  pointer-events: none;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 16, ../sass/screen.scss */
#scene-3d {
  position: absolute;
  overflow: hidden;
}

/* line 21, ../sass/screen.scss */
#camera-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/* line 27, ../sass/screen.scss */
#item-wrap-3d {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/* line 34, ../sass/screen.scss */
.item3d {
  position: absolute;
  width: 160px;
  height: 160px;
  -webkit-transition: opacity .3s ease-in-out .3s;
}

/* line 49, ../sass/screen.scss */
.hideAnim {
  opacity: 0;
}

/* line 57, ../sass/screen.scss */
.element {
  -webkit-transform: scale3d(1, -1, 1);
  -moz-transform: scale3d(1, -1, 1);
  position: absolute;
  width: 160px;
  height: 160px;
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
}
/* line 83, ../sass/screen.scss */
.element .cross-tl {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 89, ../sass/screen.scss */
.element .cross-tr {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 94, ../sass/screen.scss */
.element .cross-bl {
  position: absolute;
  bottom: 45px;
  left: 0;
}
/* line 99, ../sass/screen.scss */
.element .cross-br {
  position: absolute;
  bottom: 45px;
  right: 0;
}

/* line 116, ../sass/screen.scss */
.element:hover .cross-tl {
  color: red;
}
/* line 120, ../sass/screen.scss */
.element:hover .cross-tr {
  color: red;
}
/* line 123, ../sass/screen.scss */
.element:hover .cross-bl {
  color: red;
}
/* line 126, ../sass/screen.scss */
.element:hover .cross-br {
  color: red;
}
/* line 136, ../sass/screen.scss */
.element:hover .details {
  color: white;
  text-shadow: 0px 1px 0px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.5);
}

/* line 144, ../sass/screen.scss */
.element .details {
  margin-top: 10px;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  color: white;
}

/* line 157, ../sass/screen.scss */
.controls-wrap {
  max-width: 960px;
  padding-top: 10px;
  padding-left: 200px;
  padding-right: 210px;
}
/* line 163, ../sass/screen.scss */
.controls-wrap img {
  opacity: .5;
}
/* line 166, ../sass/screen.scss */
.controls-wrap img:hover {
  opacity: 1;
}

/* line 173, ../sass/screen.scss */
.layout-controls-wrap {
  max-width: 960px;
  padding-top: 10px;
  padding-left: 200px;
  padding-right: 210px;
  margin-top: -30px;
}
/* line 180, ../sass/screen.scss */
.layout-controls-wrap img {
  opacity: .5;
}
/* line 183, ../sass/screen.scss */
.layout-controls-wrap img:hover {
  opacity: 1;
}

/* line 190, ../sass/screen.scss */
.info-wrap {
  margin-top: -60px;
  position: relative;
}

/* line 195, ../sass/screen.scss */
.controls-info {
  width: 30px;
  margin: auto;
  display: block;
}

/* line 201, ../sass/screen.scss */
.controls-center {
  width: 30px;
  margin: auto;
  margin-top: 30px;
}

/* line 207, ../sass/screen.scss */
.controls-right {
  float: right;
  margin-top: 30px;
}

/* line 213, ../sass/screen.scss */
.controls-left {
  float: left;
  margin-top: 30px;
}

/* line 218, ../sass/screen.scss */
.controlsactive {
  opacity: 1 !important;
}

/* line 223, ../sass/screen.scss */
.comp-title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}

/* line 229, ../sass/screen.scss */
.logo-wrap {
  max-width: 960px;
}

/* line 233, ../sass/screen.scss */
.logo-center {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

/* line 243, ../sass/screen.scss */
.hasNonePrevious {
  opacity: .1 !important;
  pointer-events: none;
}

/* line 252, ../sass/screen.scss */
.hasNoneNext {
  opacity: .1 !important;
  pointer-events: none;
}
