/* line 11, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/base.scss */
html, body {
  background-color: #2a2d34;
  height: 100%;
}

/* line 23, ../sass/base.scss */
img {
  opacity: 0;
  border: null;
  background-color: white;
}

/* line 29, ../sass/base.scss */
h1 {
  font-weight: 200;
  color: #ffffff;
}

/* line 34, ../sass/base.scss */
.thumbnails {
  margin-left: -16px;
}

/* line 38, ../sass/base.scss */
.push-right {
  float: right !important;
}

/* line 43, ../sass/base.scss */
.finger {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #2d6987;
  border: 1px solid #ffffff;
  opacity: .5;
  z-index: 9999;
}

/* line 104, ../sass/base.scss */
.arrow-right-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}

/* line 113, ../sass/base.scss */
.arrow-left-w {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffffff;
}

/* line 122, ../sass/base.scss */
.arrow-right-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #1C1D22;
}

/* line 131, ../sass/base.scss */
.arrow-left-b {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #1C1D22;
}

/* line 3, ../sass/home.scss */
#home article {
  padding: 40px 20px;
}

/* line 6, ../sass/sales.scss */
#sales section img {
  width: 300px;
  height: 184px;
}
/* line 12, ../sass/sales.scss */
#sales section .rows img {
  width: 140px !important;
  height: 130px !important;
}
/* line 20, ../sass/sales.scss */
#sales #sales-list {
  padding: 0;
}
/* line 25, ../sass/sales.scss */
#sales #sales-list li {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
/* line 32, ../sass/sales.scss */
#sales .sale-popup {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1010;
  -webkit-box-shadow: black 0px 0px 50px;
  -moz-box-shadow: black 0px 0px 50px;
  box-shadow: black 0px 0px 50px;
  position: absolute;
  width: 370px;
}
/* line 46, ../sass/sales.scss */
#sales .sale-popup header {
  padding: 20px;
  background-color: #d96666;
}
/* line 50, ../sass/sales.scss */
#sales .sale-popup header span {
  color: #949494;
}
/* line 54, ../sass/sales.scss */
#sales .sale-popup header .timeago {
  color: #d2d2d2;
}
/* line 60, ../sass/sales.scss */
#sales .sale-popup section {
  padding: 20px;
  background-color: #ffffff;
  color: #d96666;
}

/* line 7, ../sass/products.scss */
#products section img {
  width: 300px;
  height: 400px;
}
/* line 13, ../sass/products.scss */
#products section .rows img {
  width: 91px !important;
  height: 121px !important;
}
/* line 21, ../sass/products.scss */
#products .sold-out {
  padding-left: 20px;
}

/* line 1, ../sass/product.scss */
#product {
  padding-bottom: 20px;
}
/* line 5, ../sass/product.scss */
#product article {
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 11, ../sass/product.scss */
#product .img-wrap {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 19, ../sass/product.scss */
#product img {
  width: 420px !important;
  height: 560px !important;
}
/* line 24, ../sass/product.scss */
#product hr {
  border-top: 1px solid rgba(238, 238, 238, 0.32);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
/* line 29, ../sass/product.scss */
#product .btn {
  margin-top: 20px;
}

/* line 6, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-women {
  background-color: #d96666 !important;
}
/* line 9, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-men {
  background-color: #d98032 !important;
}
/* line 12, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-kids {
  background-color: #f2a950 !important;
}
/* line 15, ../sass/hero.scss */
#hero-shot .hero-wrap:hover .extruder-wrap .extruder-home {
  background-color: #736c48 !important;
}
/* line 23, ../sass/hero.scss */
#hero-shot a {
  text-decoration: none;
}
/* line 29, ../sass/hero.scss */
#hero-shot header img {
  width: 744px;
  height: 281px;
  position: relative;
  z-index: 1;
  border-left: 4px solid #000000;
}
/* line 38, ../sass/hero.scss */
#hero-shot header .dates {
  position: relative;
  background-color: #000000;
  height: 141px;
  padding-left: 32px;
  padding-top: 53px;
}
/* line 40, ../sass/hero.scss */
#hero-shot header .dates h4 {
  font-weight: 200;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
  color: #ffffff;
}
/* line 55, ../sass/hero.scss */
#hero-shot header .dates span {
  position: absolute;
  margin: 4px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  right: 0;
}
/* line 67, ../sass/hero.scss */
#hero-shot article {
  padding: 40px 20px;
}

/* line 1, ../sass/nav.scss */
#main-nav {
  height: 200px;
  background-color: #2a2d34;
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;
  top: 0;
  font-size: 17px;
}
/* line 12, ../sass/nav.scss */
#main-nav .navbar {
  padding-top: 0;
  max-width: 980px;
  margin: auto;
}
/* line 17, ../sass/nav.scss */
#main-nav .navbar .nav {
  float: none;
}
/* line 22, ../sass/nav.scss */
#main-nav .navbar hr {
  margin: 0 20px 10px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.29);
}
/* line 29, ../sass/nav.scss */
#main-nav .navbar-inner {
  border-radius: 0;
  height: 43px;
}
/* line 33, ../sass/nav.scss */
#main-nav .navbar-inner .container {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2px;
  height: 22px;
  position: absolute;
  right: 0;
  left: 0;
  width: auto;
}
/* line 44, ../sass/nav.scss */
#main-nav .navbar-inner .brand {
  color: #fff;
  padding: 0 10px;
}
/* line 51, ../sass/nav.scss */
#main-nav .nav-lev2 {
  background-color: #d96666;
}
/* line 56, ../sass/nav.scss */
#main-nav .nav-btn {
  position: relative;
  height: 41px;
}
/* line 59, ../sass/nav.scss */
#main-nav .nav-btn a {
  color: #ffffff !important;
}
/* line 61, ../sass/nav.scss */
#main-nav .nav-btn a i {
  margin-top: 3px;
}
/* line 68, ../sass/nav.scss */
#main-nav .nav-btn span {
  position: absolute;
  margin: 2px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  right: 0;
}
/* line 80, ../sass/nav.scss */
#main-nav .user {
  margin-top: -2px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
}
/* line 86, ../sass/nav.scss */
#main-nav .user i {
  margin-top: 6px;
}
/* line 92, ../sass/nav.scss */
#main-nav .nav-btn-1 {
  background-color: #d96666;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-1:hover span {
  height: auto;
  bottom: 0;
}
/* line 96, ../sass/nav.scss */
#main-nav .nav-btn-2 {
  background-color: #d98032;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-2:hover span {
  height: auto;
  bottom: 0;
}
/* line 100, ../sass/nav.scss */
#main-nav .nav-btn-3 {
  background-color: #f2a950;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-3:hover span {
  height: auto;
  bottom: 0;
}
/* line 104, ../sass/nav.scss */
#main-nav .nav-btn-4 {
  background-color: #736c48;
}
/* line 4, ../sass/mixin.scss */
#main-nav .nav-btn-4:hover span {
  height: auto;
  bottom: 0;
}
/* line 109, ../sass/nav.scss */
#main-nav .nav-active span {
  height: auto;
  bottom: 0;
}
/* line 115, ../sass/nav.scss */
#main-nav .sub-menu {
  padding-left: 20px;
}
/* line 118, ../sass/nav.scss */
#main-nav .sub-menu li:first-child {
  padding-right: 0;
}
/* line 124, ../sass/nav.scss */
#main-nav .breadcrumb {
  padding: 0px;
  margin: 0 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 131, ../sass/nav.scss */
#main-nav .breadcrumb a {
  color: #999;
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
}
/* line 133, ../sass/nav.scss */
#main-nav .breadcrumb a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 142, ../sass/nav.scss */
#main-nav .breadcrumb li:first-child {
  padding-left: 20px !important;
}
/* line 146, ../sass/nav.scss */
#main-nav .breadcrumb li {
  padding: 10px 0px !important;
}
/* line 151, ../sass/nav.scss */
#main-nav a {
  padding: 0;
}
/* line 155, ../sass/nav.scss */
#main-nav li {
  padding: 10px 20px;
}

/* line 161, ../sass/nav.scss */
.edge-1 {
  background-color: #d96666;
  opacity: 0;
}

/* line 165, ../sass/nav.scss */
.edge-2 {
  background-color: #d98032;
  opacity: 0;
}

/* line 169, ../sass/nav.scss */
.edge-3 {
  background-color: #f2a950;
  opacity: 0;
}

/* line 173, ../sass/nav.scss */
.edge-4 {
  background-color: #736c48;
  opacity: 0;
}

/* line 177, ../sass/nav.scss */
.edge-over {
  opacity: 1;
}

/* line 181, ../sass/nav.scss */
.edge-active {
  opacity: 1;
}

/* line 10, ../sass/screen.scss */
.main-content {
  color: #eeeeee;
  margin-top: 200px;
  position: relative;
  width: 980px;
}

/* line 19, ../sass/screen.scss */
footer {
  background-color: #d96666;
  height: 50px;
  max-width: 940px;
  margin: auto;
}

/* line 26, ../sass/screen.scss */
.viewer {
  opacity: 0;
  display: block;
  position: absolute;
}

/* line 36, ../sass/screen.scss */
.thumb-wrap a {
  color: #ffffff;
}
/* line 44, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-women {
  border-color: #d96666;
}
/* line 48, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-men {
  border-color: #d98032;
}
/* line 52, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-kids {
  border-color: #f2a950;
}
/* line 56, ../sass/screen.scss */
.thumb-wrap:hover .thumb .thumbnail-home {
  border-color: #736c48;
}
/* line 60, ../sass/screen.scss */
.thumb-wrap:hover .thumb legend {
  display: block;
  bottom: -1px;
}
/* line 67, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-women {
  background-color: #d96666 !important;
}
/* line 70, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-men {
  background-color: #d98032 !important;
}
/* line 73, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-kids {
  background-color: #f2a950 !important;
}
/* line 76, ../sass/screen.scss */
.thumb-wrap:hover .extruder-wrap .extruder-home {
  background-color: #736c48 !important;
}
/* line 82, ../sass/screen.scss */
.thumb-wrap .thumb {
  margin: .5px;
  overflow: hidden;
  position: relative;
}
/* line 88, ../sass/screen.scss */
.thumb-wrap .thumb legend {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding: 4px;
  margin: 0;
  bottom: -55px;
  position: absolute;
}
/* line 100, ../sass/screen.scss */
.thumb-wrap .thumb legend h5 {
  position: absolute;
  top: 5px;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin-left: 10px;
  padding-right: 20px;
}
/* line 115, ../sass/screen.scss */
.thumb-wrap .thumb legend .gradient {
  opacity: 1;
  width: 100% !important;
  height: 50px !important;
  background: none;
}

/* line 127, ../sass/screen.scss */
.extruder-wrap {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  padding-bottom: 1px;
}
/* line 132, ../sass/screen.scss */
.extruder-wrap .extruder {
  background-color: #595D62;
  height: 40px;
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  -o-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 0 0 0 0 50%;
  -moz-transform-origin: 0 0 0 0 50%;
  -ms-transform-origin: 0 0 0 0 50%;
  -o-transform-origin: 0 0 0 0 50%;
  transform-origin: 0 0 0 0 50%;
}
/* line 138, ../sass/screen.scss */
.extruder-wrap .extruder .navbar-inner {
  background: none;
  margin-left: 22px;
}

/* line 152, ../sass/screen.scss */
.rows {
  margin: 0 20px !important;
}
/* line 156, ../sass/screen.scss */
.rows li {
  float: none;
  list-style: none;
}
/* line 161, ../sass/screen.scss */
.rows li:nth-child(odd) {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
/* line 168, ../sass/screen.scss */
.rows li .thumb-listing-holder {
  border-radius: 4px;
  padding: 10px 20px !important;
}
/* line 178, ../sass/screen.scss */
.rows li:hover .thumb-listing .extruder-women {
  background-color: #d96666 !important;
}
/* line 181, ../sass/screen.scss */
.rows li:hover .thumb-listing .extruder-men {
  background-color: #d98032 !important;
}
/* line 184, ../sass/screen.scss */
.rows li:hover .thumb-listing .extruder-kids {
  background-color: #f2a950 !important;
}
/* line 187, ../sass/screen.scss */
.rows li:hover .thumb-listing .extruder-home {
  background-color: #736c48 !important;
}
/* line 195, ../sass/screen.scss */
.rows li a {
  color: #ffffff;
}
/* line 199, ../sass/screen.scss */
.rows li h2 {
  font-size: 25px;
  font-weight: 200;
  padding: 30px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  max-width: 790px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px !important;
    margin-top: -50px !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border: 13px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
    color: rgba(179, 179, 179, 0.7);
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spin-right 1s linear infinite;
    margin: 30px auto 0;
    z-index: 2000;
}

@-webkit-keyframes spin-right {
    /* line 233, ../sass/base.scss */
    from {
        -webkit-transform: rotate(0deg);
        opacity: 0.2;
    }

    /* line 237, ../sass/base.scss */
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 1.0;
    }

    /* line 241, ../sass/base.scss */
    to {
        -webkit-transform: rotate(360deg);
        opacity: 0.2;
    }
}

