
<div id="GeoConnections">

    <link rel="stylesheet" href="/experiment/1/stylesheets/screen.css"/>

    <div ng-controller="GeoConnectionsCtrl">

        <div id="world" ng-controller="WorldCtrl">
            <div id="canvas-wrap"></div>
            <ul>
                <li ng-repeat="geoPoint in geoConnectionsModel.geoPoints" class="geo-point">
                    <geopoint-label></geopoint-label>
                </li>
            </ul>
        </div>

</div>

    <!--<style>-->
        <!--canvas {-->
             <!--background-color: #000;-->
        <!--}-->
    <!--</style>-->





<!--<script src="/experiment/1/js/app.js"></script>-->
<!--<script src="/experiment/1/js/services.js"></script>-->
<!--<script src="/experiment/1/js/controllers.js"></script>-->
<!--<script src="/experiment/1/js/filters.js"></script>-->
<!--<script src="/experiment/1/js/directives.js"></script>-->
<script>
    angular.element(document).ready(function() {
        angular.bootstrap('#GeoConnections', ['GeoConnections']);
    });
</script>
</div>
