
<div id="Box2dDom">

    <div ng-controller="Box2dDomCtrl">

        <div id="box2dWorld">
            <li ng-repeat="obj in box2dDomModel.box2dObjs" class="box2d-obj">
                <box2d-obj></box2d-obj>
            </li>
            <canvas id="canvas" width="100" height="100"></canvas>
    </div>
</div>

    <link rel="stylesheet" href="/experiment/3/stylesheets/screen.css"/>
    <script src="/libs/Box2dWeb-2.1.a.3.js"></script>
    <script src="/experiment/3/js/MouseAndTouch.js"></script>
    <script src="/experiment/3/js/app.js"></script>
    <script src="/experiment/3/js/services.js"></script>
    <script src="/experiment/3/js/controllers.js"></script>
    <script src="/experiment/3/js/filters.js"></script>
    <script src="/experiment/3/js/directives.js"></script>

<script>
    angular.element(document).ready(function() {
        angular.bootstrap('#Box2dDom', ['Box2dDom']);
    });
</script>
</div>
