<div id="PieMenu" ng-controller="PieMenuCtrl">

    <div id="experiment-content" ng-click="onMouseClick($event)">

        <!--<pie-menu style="position: absolute; left:200px; top:50px" radius="50" data="pieMenuModel.data1"></pie-menu>-->

        <!--<pie-menu style="position: absolute; left:200px; top:250px" radius="80" data="pieMenuModel.data2"></pie-menu>-->

        <!--<pie-menu style="position: absolute; left:400px; top:250px" radius="120" data="pieMenuModel.data3"></pie-menu>-->


        <div class="tree">
            <ul>
                <li>
                    <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                    <ul>
                        <li>
                            <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                            <ul>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                </li>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                                </li>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                            <ul>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                </li>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                    <ul>
                                        <li>
                                            <contextual-pie-menu data="pieMenuModel.data3"></contextual-pie-menu>
                                        </li>
                                        <li>
                                            <contextual-pie-menu data="pieMenuModel.data3"></contextual-pie-menu>
                                        </li>
                                        <li>
                                            <contextual-pie-menu data="pieMenuModel.data3"></contextual-pie-menu>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <!--<link rel="stylesheet" href="/experiment/4/stylesheets/screen.css"/>-->
        <!--<script src="/libs/d3.v2.js"></script>-->
        <!--<script src="/experiment/4/js/app.js"></script>-->
        <!--<script src="/experiment/4/js/services.js"></script>-->
        <!--<script src="/experiment/4/js/controllers.js"></script>-->
        <!--<script src="/experiment/4/js/filters.js"></script>-->
        <!--<script src="/experiment/4/js/directives.js"></script>-->
        <script>
            angular.element(document).ready(function () {
                angular.bootstrap('#PieMenu', ['PieMenu']);
            });
        </script>
    </div>
</div>

