<div id="pie-menu" ng-controller="PieMenuCtrl">

    <div id="experiment-content" ng-click="onMouseClick($event)">

        <div class="tree">
            <ul>
                <li>
                    <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                    <ul>
                        <li>
                            <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                            <ul>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                </li>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                                </li>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                            <ul>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                </li>
                                <li>
                                    <contextual-pie-menu data="pieMenuModel.data2"></contextual-pie-menu>
                                    <ul>
                                        <li>
                                            <contextual-pie-menu data="pieMenuModel.data3"></contextual-pie-menu>
                                        </li>
                                        <li>
                                            <contextual-pie-menu data="pieMenuModel.data3"></contextual-pie-menu>
                                        </li>
                                        <li>
                                            <contextual-pie-menu data="pieMenuModel.data3"></contextual-pie-menu>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <contextual-pie-menu data="pieMenuModel.data1"></contextual-pie-menu>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <!--<link rel="stylesheet" href="/experiment/pie-menu-d3/stylesheets/screen.css"/>-->
        <!--<script src="/libs/d3.v2.js"></script>-->
        <!--<script src="/experiment/pie-menu-d3/js/app.js"></script>-->
        <!--<script src="/experiment/pie-menu-d3/js/services.js"></script>-->
        <!--<script src="/experiment/pie-menu-d3/js/controllers.js"></script>-->
        <!--<script src="/experiment/pie-menu-d3/js/filters.js"></script>-->
        <!--<script src="/experiment/pie-menu-d3/js/directives.js"></script>-->
        <script>
            angular.element(document).ready(function () {
                angular.bootstrap('#pie-menu', ['pie-menu']);
            });
        </script>
    </div>
</div>

