
<div id="GeoConnections">

    <link rel="stylesheet" href="/experiment/world-connections/stylesheets/screen.css"/>

    <div ng-controller="GeoConnectionsCtrl">

        <div id="world" ng-controller="WorldCtrl">
            <div id="canvas-wrap"></div>
            <ul>
                <li ng-repeat="geoPoint in geoConnectionsModel.geoPoints" class="geo-point">
                    <geopoint-label></geopoint-label>
                </li>
            </ul>
        </div>

</div>


<script src="/experiment/world-connections/js/app.js"></script>
<script src="/experiment/world-connections/js/services.js"></script>
<script src="/experiment/world-connections/js/controllers.js"></script>
<script src="/experiment/world-connections/js/filters.js"></script>
<script src="/experiment/world-connections/js/directives.js"></script>
<script>
    angular.element(document).ready(function() {
        angular.bootstrap('#GeoConnections', ['GeoConnections']);
    });
</script>
</div>
